header .logo {
	width: auto;
	height: 60px;
}

.user-dropdown {
	cursor: pointer;
}

@media (max-width: 768px) {
	header .logo {
		height: 40px;
	}

	header .app-title,
	.username {
		font-size: 1rem !important;
	}
}
