.signin-page {
	height: 100vh;
}

.login-form {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	width: 100%;
	max-width: 500px;
}

.login-form .btn {
	width: 45%;
}

@media (max-width: 520px) {
	.login-form {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
